@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', Roboto, sans-serif !important;
}

main {
  min-height: 100vh;
  display: flex;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Sweet alert */

.swal2-popup {
  border-radius: 1rem;
  z-index: 999999 !important;
}

.swal2-button {
  border-radius: 3rem !important;
}

.swal2-container {
  z-index: 999998 !important;
}

/*  Spinner  */

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*  Animation  */

@keyframes in-keyframes {
  0% {
    opacity: 0;
    translate: 0 50%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes in-keyframes-short {
  0% {
    opacity: 0;
    translate: 0 25%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes in-keyframes-right {
  0% {
    opacity: 0;
    translate: 30% 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes in-keyframes-right-short {
  0% {
    opacity: 0;
    translate: 10% 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes in-keyframes-top {
  0% {
    opacity: 0;
    translate: 0 -25%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

.animate-in-bottom {
  animation: in-keyframes 0.5s both;
}

.animate-in-bottom-short {
  animation: in-keyframes 0.75s both;
}

.animate-in-right {
  animation: in-keyframes-right 0.75s both;
}

.animate-in-right-short {
  animation: in-keyframes-right-short 0.75s both;
}

.animate-in-top {
  animation: in-keyframes-top 0.5s both;
}

/*  Waves  */

.waves {
  width: 100%;
  height: 200px;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 200px;
}

.parallax > use {
  animation: move-forever 35s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-duration: 9s;
}
.parallax > use:nth-child(2) {
  animation-delay: -10s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 900px) {
  .waves {
    display: none;
  }
}
