@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', Roboto, sans-serif !important;
}

main {
  min-height: 100vh;
  display: flex;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Sweet alert */

.swal2-popup {
  border-radius: 1rem;
  z-index: 999999 !important;
}

.swal2-button {
  border-radius: 3rem !important;
}

.swal2-container {
  z-index: 999998 !important;
}
